---
layout: base
host: http://districttaco.com
---
<div class="clearfix">
  <div class="span-7 append-1">
    <img class="logo" alt="District Taco Logo" width="316" height="206" src="images/logo_resturant.png" />
  </div>
  <div class="top_box span-6 append-1">
    <br />
    <br />
    <div class="">
      <h3 class="top_title"> Lunch can be Special Too </h3>
      <p>
        We have a new lunch special everyday, follow us on <a href="http://twitter.com/districttaco">twitter</a> or friend us on <a href="http://www.facebook.com/districttaco">facebook</a> to find out what is being served.
      </p>
    </div>
  </div>

  <div class="top_box span-7 last">
    <br />
    <br />
    <h3 class="top_title">Locations We Like to Frequent</h3>

    <p>
      Crystal City in the little island between <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=&sll=38.853205,-77.049913&sspn=0.000679,0.001204&ie=UTF8&ll=38.85329,-77.049863&spn=0.000679,0.001204&t=h&z=20">23rd ST and Crystal Drive</a>. Rosslyn on <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1752+North+Lynn+Street+Rosslyn,+VA+22209&sll=38.895692,-77.070841&sspn=0.001346,0.001706&gl=us&ie=UTF8&hq=&hnear=1752+N+Lynn+St,+Arlington,+Virginia+22209&ll=38.895559,-77.070798&spn=0.001346,0.001706&z=19">N Lynn St just north of Wilson Blvd </a>.
    </p>
  </div>

</div>

<div class="protent info clearfix">
  <div class="span-15 append-1">
    <div class="span-6 prepend-1 append-1">
      <!-- Column 1 -->
      <h3>Good Food for Hungry People</h3>
      <p>
        Homemade Salsa, quality ingredients, freshly prepared and served hot in healthy portions. 
        This is a fast breakfast that does not taste like it was fast.
      </p>
      <h3>Let us Cater for You</h3>
      <p>
        Available for <a href="/catering">parties and catering</a> please <a href="mailto:taco@districttaco.com">Contact us</a> for details, or view our <a href="/menu">menu</a>. Click <a href="/orderform.pdf">here</a> to download the order form.
      </p>
      <hr />

      <div class="quote"> 
        "Simple, yes, but undeniably tasty, as each ingredient plays a role in the sophisticated balance of this humble snack."
      </div>
      <p class="cite">- City Paper, November 2009 </p>

      <div class="quote"> 
        "This is about as good as it gets."
      </div>
      <p class="cite">- Peter M. from Arlington, VA (<a href="http://www.yelp.com/biz/district-taco-arlington#hrid:s32YoBr9lg1yl_U6NnjWaw">Yelp!</a>) </p>
    </div>

    <div class="span-7 last">
      <!-- Column 2 -->
      {% for post in site.posts limit:2 %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>

  <div class="span-7 last">
    <!-- Column 1 -->
    <h6 style="text-align: right;">
      <a href="http://twitter.com/districttaco">Follow us on Twitter</a>
    </h6>
    <div class='tweet'></div>
  </div>
</div>

