---
layout: base
---
<div class="clearfix">
  <div class="span-7 append-3 prepend-1">
    <a href="/"><img class="logo" alt="District Taco Logo" width="316" height="206" src="/images/logo_resturant.png" /></a>
  </div>
</div>

<div class="protent info clearfix">
  <div class="span-15 append-1 prepend-4">
<div class='entry'>
  <h2 class='title'>{{ page.title }}</h2>
  <div class='byline'>{{ page.date | date:"%B %d, %Y" }}</div>
  <div class='body'>
    {{ content }}
  </div>
  </div>
  </div>


</div>

